.main {
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;

}
input{
  margin: 20px;
  text-align: center;
}

h3{
  font-family: 'Playfair Display SC', serif;
  text-align: center;
  padding-top: 25px;
  font-size: large;
  color: brown;
}
